<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather</title>
</head>
<body>
    
      <div class="container-fluid main">
         <div  class="row">
              <div class="col-md-10 col-12 mx-auto">
                  <div class="main_content">
                     <form class="temp_form">
                        <input type="text"  id="city" placeholder="Enter your city" >
                        <input type="submit" value="search" id="submitbtn">
                     </form>
                    </div>
         <div class="tempinformation">
               <div class="toplayer">
                 <p>WEDNESDAY</p>
                      <P>23 JAN</P>


                </div>
                <div class="mainlayer">
                  <p id="cityname">cityname</p>

                </div>
      
           </div>
        </div>
    </div>
</div>

<script src="../js/main.js"></script>

</body>
</html>